{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
        {% for movie in all_movies %}
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:25rem" src={{movie.image_url}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{movie.genre}}</p>
                        <a href="{% url 'movies_app:detail' movie.id %}" class="btn btn-primary">Details</a>
                        <a href="{% url 'movies_app:delete' movie.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}